.logo {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  transition: all .5s;
}

.logo.logo__shrink {
  width: 32px;
  height: 32px;
}

.company__info {
  opacity: 1;
  transition: all .5s;
}

.company__info.company__info_hidden {
  opacity: 0;
}
