@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo__container {
  min-height: 34px;
  min-width: 34px;
  max-height: 64px;
  max-width: 64px;
  height: 64px;
  width: 64px;
  resize: both;
}

.logo {
  border-radius: 100px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
  height: 100%;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.business__info {
  opacity: 1;
  transition: all .5s;
}

.business__info.business__info_hidden {
  opacity: 0;
}

.mantine-Button-label {
  font-weight: 500;
}

.main__loader__logo {
  animation-name: breath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes breath {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.main__loader__bar__root {
  background-color: rgb(233, 236, 239);
  height: 8px;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.main__loader__bar__progress {
  background-color: #1363df;
  height: 8px;
  width: 200px;
  animation-name: move-bar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes move-bar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width:800px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}