@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo__container {
  min-height: 34px;
  min-width: 34px;
  height: 64px;
  width: 64px;
  resize: both;
}

.logo {
  border-radius: 100px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
  height: 100%;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.company__info {
  opacity: 1;
  transition: all .5s;
}

.company__info.company__info_hidden {
  opacity: 0;
}

.mantine-Button-label {
  font-weight: 500;
}